.dataComponent {
  /* display: flex; */
}

.update_day {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  width: 100px;
}

.date_format {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
}
