.main_forecast {
  justify-content: center;
}

.forecast_box {
  border-radius: 1px;
  /* background-color: #fff;
  border: 1px solid #f8f9fa; */
  padding-bottom: 6px;
  /* width: 100%; */
  display: flex;
  margin-bottom: 10px;
}

.forecast_box_element {
  display: flex;
  justify-content: space-evenly;
  /* height: 90px; */
  line-height: 1.4;
  text-align: center;
  /* width: 100%; */
  flex-direction: column;
}

/* @media (max-width: 991px) {
  .main_forecast {
    flex-direction: column;
  }
} */
