.main_forecast-flexbox {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  margin: auto;
}
.forecast_box {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  background: rgba(141, 141, 141, 0.481);
  width: 100px;
  margin: 10px;
  padding: 6px 3px;
  border-radius: 10px;
}

.main_forecast-flexbox {
  height: 420px;
  margin-bottom: 20px;
  width: 80%;
  -webkit-overflow-scrolling: touch;
  justify-content: center;
}
.main_forecast-flexbox::-webkit-scrollbar {
  display: none;
}

.main_forecast::-webkit-scrollbar {
  width: 0 !important;
}

.main_forecast {
  overflow: -moz-scrollbars-none;
}

.main_forecast {
  -ms-overflow-style: none;
}

.forecast_box {
}

.forecast_box_element {
  display: flex;
  justify-content: space-evenly;
  line-height: 1.4;
  text-align: center;
  flex-direction: column;
}
