.container_data {
  width: 90vw;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: none;
}

.wrapper .Loading_first {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 30%;
}

.forecast {
  border: 1px solid #ccc;
}

@media (max-width: 991px) {
  .container_data {
    margin: 20px auto;
  }
}
