.Container {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 60vh;
  /* margin-top: 30px; */
  padding: 30px;
}

.container_data {
  width: 70%;
  margin: auto;
  border-radius: 8px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
}

.loadingImg {
  width: 20%;
  height: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  -webkit-animation: rotation 10s infinite linear;
  -moz-animation: rotation 10s infinite linear;
  animation: rotation 10s infinite linear;
}

.forecast {
  border: 1px solid #ccc;
}

@-moz-keyframes rotation {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
