.animation_icon {
  justify-content: center;
  margin-top: -10px;
  margin-bottom: -10px;
}

.img_icon {
  width: 170px;
  height: auto;
  display: grid;
  margin: auto;
}

@media (max-width: 401px) {
  .img_icon {
    width: 80%;
  }
}
