* {
  background-color: rgb(45, 45, 45);
}
/* 232b2b */
.Container {
  margin-top: 90px;
  padding: 50px;
  border-radius: 4px;
}

.Header {
  font-size: 30px;
  font-weight: 600;
  color: #42ab9e;
  background-color: rgb(45, 45, 45);
  margin-bottom: 10px;
}

.cityName,
.temp-container {
  font-size: 30px;
  font-weight: 600;
  background-color: rgb(45, 45, 45);
}

.Container,
.Weather,
.search-section,
input,
form,
.button {
  text-align: center;
  background-color: rgb(45, 45, 45);
}

.searched-city,
.searchresult-section li,
ul,
strong,
.icon,
.row,
.colTemp,
p,
.temp-container,
a,
span {
  background-color: rgb(45, 45, 45);
  list-style: none;
  color: whitesmoke;
}

ul {
  margin-bottom: 0px;
  padding-bottom: 8px;
}

search-box,
input {
  width: 300px;
  height: 35px;
  margin: 8px;
  background-color: whitesmoke;
  font-size: 20px;
  font-weight: 600px;
  border-radius: 4px;
  text-transform: uppercase;
}

button {
  background-color: #42ab9e;
  text-transform: uppercase;
  font-weight: 600;
  color: whitesmoke;
  margin-bottom: 20px;
}

.CityButton {
  width: 100px;
  height: 100px;
  background-color: #42ab9e;
  color: whitesmoke;
  font-weight: 700;
  font-size: 12px;
}

.CityButton:hover,
button:hover {
  background-color: paleturquoise;
  color: rgb(45, 45, 45);
}

.fixedButtons {
  background-color: rgb(45, 45, 45);
}

.CityButton:focus,
button:focus {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}
.CityButton,
button {
  transition: all 0.2s ease-in-out;
}
.CityButton:hover,
.button:hover {
  transform: scale(1.1);
}
