* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Raleway", sans-serif;
  overflow: hidden;
  overflow-y: scroll !important;
  background: #fff;
}

@media (max-width: 991px) {
  body {
    overflow-y: scroll !important;
    max-width: 100%;
    overflow-x: hidden;
  }

  .MuiContainer-root {
    padding: unset !important;
  }
}
